<div class="   relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class=" text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center ">
                    Real Time log 
                </th>
            </tr>
        </thead>
        <tbody>
            <div class="log-content" #logContent>
              </div>
            <tr  *ngFor="let log of logData " class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-14 py-4 text-gray-900 dark:text-white">
                    {{log}}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
