#alert {
    position: fixed;
    top:60px;
    left: 50%; 
    transform: translateX(-50%);
    width: 100vw; 
    z-index: 30; 
    max-width: 600px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  