<app-initialize-simulation
  (customerCountChange)="customerCount = $event"
  (vendorCountChange)="vendorCount = $event"
  (isAutoGenerateChange)="isAutoGenerate = $event"
  [customers]="customers"
  [vendors]="vendors"
></app-initialize-simulation>

@if (!isAutoGenerate) {
    <div class="flex flex-wrap gap-4 justify-between mt-4">
      <div class="flex-1">
        <app-customer-table 
          [customerCount]="customerCount" 
          (customerListChange)="handleCustomerListChange($event)">
        </app-customer-table>
      </div>
      <!-- Vendor Table -->
      <div class="flex-1">
        <app-vendor-table 
          [vendorCount]="vendorCount" 
          (vendorsChange)="handleVendorListChange($event)">
        </app-vendor-table>
      </div>
    </div>
  }