<div class="bg-gradient-to-r from-blue-700 to-[#B06AB3] font-sans w-full h-screen flex items-center justify-center">
  <div class="container mx-auto text-center px-6">
    <!-- Title -->
    <h2 class="text-white sm:text-5xl text-4xl font-bold mb-6">
      Real-Time Ticketing Simulation
    </h2>
    <!-- Description -->
    <p class="text-white text-lg mb-8">
      This is an educational persona application that simulates the producer-consumer design pattern using multithreading.
    </p>
    <!-- Buttons -->
    <div class="flex justify-center gap-4"> 
      <button type="button" routerLink="/configuration" class="bg-white text-sm text-blue-600 font-semibold py-3 px-6 rounded-lg hover:bg-slate-100 ">
        Configuration
      </button>
      <button type="button"routerLink="/simulation" class="bg-white text-sm text-blue-600 font-semibold py-3 px-6 rounded-lg hover:bg-slate-100">
        Simulation Initialized
      </button>
    </div>
    <!-- Footer -->
    <p class="text-white text-sm mt-8">
      This real-time ticketing simulation application is being developed in 
      <a href="https://github.com/Githmaz/Real-Time-Event-Ticketing.git" class="underline font-bold hover:text-blue-300"> GitHub repo</a>.
    </p>
  </div>
</div>
